doctype html
html
    head
        title="home page"
    body
        h1 My Movie List App
        h2 Author: Maciej Duda
        block content
            h1.app-title Logg in to see your page
            div.buttons
                button(onclick="location.href='/register'") Register
                button(onclick="location.href='/loggin'") LoggIn
