extends home-site.pug

block content
    form(method='GET' action='/app-page')
        div.form-group
            label(for='name') UserName:
                input#name.form-control(type='text', placeholder='Username' name='username')
        div.form-group
            label(for='pw') Password:
                input#pw.form-control(type='password', placeholder='Password' name='password')
                button.btn.btn-primary(type='submit') Sign up