extends home-site.pug

block content
    form(method='POST' action='/app-page')
        div.form-group
            label UserName:  
                input(type='text', name='username', value="" )
        div.form-group
            label Password:  
                input(type='password', name='password', value="")
        div.form-group
            label Confirm Password:  
                input(type='password', name='confirmPassword', value="")
        input(type='submit', value='Sign up') 