extends home-site.pug

block content
    form(method='POST' action='/app-page')
        div.form-group
            label(for='name') UserName:
                input#name.form-control(type='text', placeholder='Username here' name='username')
        div.form-group
            label(for='pw') Password:
                input#pw.form-control(type='password', placeholder='Password here' name='password')
        div.form-group
            label(for='pw2') Confirm Password:
                input#pw2.form-control(type='password', placeholder='Repeat password' name='confirmPassword')
                button.btn.btn-primary(type='submit') Sign up